.clients {
  @extend .section;
}
.clients__container {
  @extend .container;
}
.clients__tittle {
  @extend .tittle;
}
.clients-list {
  @extend .list;
 
  @media screen and (min-width: $mobile) and (max-width: 1599px) {
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $mobile) {
    display: flex;
  }
}
.clients-list__item {
  @media screen and (max-width: 478px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: $mobile) and (max-width: 1599px){
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
.clients-list__link {
  @extend .link;
  display: flex;
  height: 92px;
  border: var(--border-clients);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: border var(--transition-option), color var(--transition-option);
  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border: var(--border-hover);
}
.clients-list__icon {
  fill: currentColor;
}
