.page-footer {
  display: flex;
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer__container {
  @extend .container;
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}
.footer {
  @media screen and (min-width: 320px) and (max-width: 1599px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1599px) {
    margin-right: 165px;
  }
}
.footer__logo {
  @extend .logo;
  @extend .link;
  color: var(--taxt-on-bg);
}
.footer__logo-part {
  color: var(--accent-color);
}
.footer__logo {
  display: inline-block;
  font-family: var(--second-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  padding-bottom: 20px;
}
.footer__logo,
.address-list .map.link {
  color: var(--taxt-on-bg);
}
.address-list {
  @extend .list;
  display: inline-block;
}
.address-list__item {
  margin-top: 9px;
}
.address-list__item:nth-child(1) {
  margin-top: 0;
}
.address-list__link {
  @extend .link;
  color: rgb(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  display: inline-block;
  transition: color var(--transition-option);
  @media screen and (min-width: $desktop) {
    width: 231px;
  }
}
.address-list__link--map {
  color: var(--taxt-on-bg);
}
.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.footer-icon-position {
  @media screen and (min-width: 320px) and (max-width: 1599px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 70px;
  }
}
.footer-icon-position__tittle,
.footer-form__mail-label {
  color: var(--taxt-on-bg);
  margin-bottom: 20px;
  font-family: var(--first-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-icons-list {
  @extend .list;
  display: flex;
  @media screen and (min-width: 320px) {
    justify-content: center;
  }
}
.footer-icons-list__item {
  margin-left: 10px;
}
.footer-icons-list__item:nth-child(1) {
  margin-left: 0;
}
.footer-icons-list__link {
  @extend .link;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-icon-bg);
  color: var(--taxt-on-bg);
  transition: background-color var(--transition-option);
}
.footer-icons-list__link:hover,
.footer-icons-list__link:focus {
  background-color: var(--accent-color);
  color: var(--taxt-on-bg);
}
.footer-icons-list__icon {
  fill: currentColor;
}
.footer-form {
  display: flex;
  @media screen and (max-width: 479px) {
    flex-direction: column;
  }
  @media screen and (min-width: 320px) {
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
  @media screen and (max-width: 1599px) {
    text-align: center;
    flex-wrap: wrap;
    max-width: $mobile;
  }
}
.footer-form__mailing {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1599px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 12px;
  }
}
.footer-form__mail-label {
  margin: 0;
  padding-bottom: 20px;
  @media screen and (max-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer-form__emeil-input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: var(--border-forms);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--taxt-on-bg);
  transition: border-color var(--transition-option);
  @media screen and (max-width: 479px) {
    width: 90vw;
  }
  
  @media screen and (min-width: $desktop) {
    width: 358px;
  }
}
.footer-form__emeil-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__emeil-input:focus-within {
  outline: 0;
  border-color: var(--accent-color);
}
.footer-form__mailing-button {
  @extend .button;
  display: flex;
  align-self: center;
  padding: 10px 28px;
  @media screen and (min-width: 1600px) {
    align-self: flex-end;
  }
}
.footer-form__mailing-button:hover,
.footer-form__mailing-button:focus {
  background-color: #188ce8;
}
.footer-form__send-icon {
  margin-left: 10px;
  fill: var(--taxt-on-bg);
}
