:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --taxt-on-bg: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --logo-black: #000000;
  --icon-color: #afb1b8;
  --first-text: "Roboto", sans-serif;
  --second-text: "Raleway", sans-serif;
  --border-project: 1px solid #eeeeee;
  --border-header: 1px solid #ececec;
  --border-clients: 1px solid #afb1b8;
  --border-hover: 1px solid #2196f3;
  --border-icon-modal: 1px solid rgba(0, 0, 0, 0.1);
  --transition-option: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --backdrop-opacity: 700ms cubic-bezier(0.4, 0, 0.2, 1);
  --activity-tittle-bg: rgba(47, 48, 58, 0.8);
  --border-forms: 1px solid rgba(255, 255, 255, 0.3);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1600px;